@import "tailwindcss";

@theme {
  --font-library: "Cormorant Garamond", serif;
  --breakpoint-mobile: 800px;
  --breakpoint-tablet: 1000px;
  --breakpoint-desktop: 1400px;
}

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}
